body{
    margin: 0;
    padding: 0;
   
}


.kanban{
    display:flex ;
    padding: 30px;
    width: 750px;
background: rgb(238,174,202);
background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    border-radius: 5px;
    margin: 0 auto;
    margin-top:100px;
}
.kanban *{
    font-family: "poppins";
}
.kanban__column{
    flex: 1;
}
.kanban__column:not(:last-child){
    margin-right: 30px;
}
.kanban__column-title{
    margin-bottom: 20px;
    font-size: 30px;
    color: white;
    user-select: none;
}
.kanban__item-input{
    padding: 10px 15px;
    box-sizing: border-box;
    background-color: #ffffffbe;
    border-radius: 5px;
    cursor: pointer;
    color: rgb(58, 50, 50);
}
.kanban__add-item{
    width:100%;
    padding: 10px 0;
    font-size: 16px;
    color: white;
    background-color: rgba(0,0,0,0.1);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}
.kanban__dropzone {
    height: 10px;
    transition: background 0.15s, height 0.15s;
}

.kanban__dropzone--active {
    height: 20px;
    background: rgba(0, 0, 0, 0.25);
}
@media only screen and (max-width: 800px) {
  .kanban{
    flex-direction: column;
    width:auto;
    align-items: center;
    justify-content: center;
    margin-top: 0;
  }
  .kanban__item-input{
    width: 300px;
  }
}